In [1]:
import pandas as pd
import numpy as np

In [51]:
df=pd.read_csv("Raw_Data_heart_attack_prediction_dataset")

In [52]:
df.drop("Patient ID", axis = 1, inplace = True)

In [53]:
df.columns

Index(['Age', 'Sex', 'Cholesterol', 'Blood Pressure', 'Heart Rate', 'Diabetes',
       'Family History', 'Smoking', 'Obesity', 'Alcohol Consumption',
       'Exercise Hours Per Week', 'Diet', 'Previous Heart Problems',
       'Medication Use', 'Stress Level', 'Sedentary Hours Per Day', 'Income',
       'BMI', 'Triglycerides', 'Physical Activity Days Per Week',
       'Sleep Hours Per Day', 'Country', 'Continent', 'Hemisphere',
       'Heart Attack Risk'],
      dtype='object')

In [54]:
# Mapping dictionary
diet_mapping = {
    'Average': 0,
    'Healthy': 1,
    'Unhealthy': 2
}

# Apply mapping to the column
df['Diet_encoded'] = df['Diet'].map(diet_mapping)
df.drop('Diet', axis = 1, inplace = True)

In [55]:
df[['Systolic BP', 'Diastolic BP']] = df['Blood Pressure'].str.split('/', expand=True).astype(int)
df.drop('Blood Pressure', axis = 1, inplace = True)

In [56]:
df.drop('Country', axis = 1, inplace = True)

In [57]:
df = pd.get_dummies(df, columns=['Continent'])

In [64]:
df['hemisphere_encoded'] = df['Hemisphere'].map({'Northern Hemisphere': 1, 'Southern Hemisphere': 0})
df.drop("Hemisphere", axis = 1, inplace = True)

In [65]:
df

,Age,Sex,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,...,Diet_encoded,Systolic BP,Diastolic BP,Continent_Africa,Continent_Asia,Continent_Australia,Continent_Europe,Continent_North America,Continent_South America,hemisphere_encoded
0,67,Male,208,72,0,0,1,0,0,4.168189,...,0,158,88,False,False,False,False,False,True,0
1,21,Male,389,98,1,1,1,1,1,1.813242,...,2,165,93,False,False,False,False,True,False,1
2,21,Female,324,72,1,0,0,0,0,2.078353,...,1,174,99,False,False,False,True,False,False,1
3,84,Male,383,73,1,1,1,0,1,9.828130,...,0,163,100,False,False,False,False,True,False,1
4,66,Male,318,93,1,1,1,1,0,5.804299,...,2,91,88,False,True,False,False,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,Male,121,61,1,1,1,0,1,7.917342,...,1,94,76,False,True,False,False,False,False,1
8759,28,Female,120,73,1,0,0,1,0,16.558426,...,1,157,102,False,False,False,False,True,False,1
8760,47,Male,250,105,0,1,1,1,1,3.148438,...,0,161,75,False,False,False,False,False,True,0
8761,36,Male,178,60,1,0,1,0,0,3.789950,...,2,119,67,False,False,False,False,False,True,0
8762,25,Female,356,75,1,1,0,0,1,18.081748,...,1,138,67,False,False,False,True,False,False,1

In [66]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler

numerical_features = ['Age', 'Cholesterol', 'Heart Rate', 'BMI', 'Exercise Hours Per Week', 'Stress Level', 'Sedentary Hours Per Day', 
                      'Income', 'Triglycerides', 'Systolic BP', 'Diastolic BP', 
                     'Physical Activity Days Per Week', 'Sleep Hours Per Day', 'Diet_encoded' ]

In [78]:
scaler = StandardScaler()
df[numerical_features] = scaler.fit_transform(df[numerical_features])

In [79]:
df.to_csv("Feature")

,Age,Sex,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,...,Diet_encoded,Systolic BP,Diastolic BP,Continent_Africa,Continent_Asia,Continent_Australia,Continent_Europe,Continent_North America,Continent_South America,hemisphere_encoded
0,0.625557,Male,-0.641579,-0.147042,0,0,1,0,0,4.168189,...,0,0.870044,0.193782,False,False,False,False,False,True,0
1,-1.539322,Male,1.596895,1.118179,1,1,1,1,1,1.813242,...,2,1.135714,0.534480,False,False,False,False,True,False,1
2,-1.539322,Female,0.793023,-0.147042,1,0,0,0,0,2.078353,...,1,1.477290,0.943319,False,False,False,True,False,False,1
3,1.425621,Male,1.522691,-0.098380,1,1,1,0,1,9.828130,...,0,1.059809,1.011458,False,False,False,False,True,False,1
4,0.578495,Male,0.718820,0.874867,1,1,1,1,0,5.804299,...,2,-1.672797,0.193782,False,True,False,False,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,0.296119,Male,-1.717530,-0.682328,1,1,1,0,1,7.917342,...,1,-1.558939,-0.623895,False,True,False,False,False,False,1
8759,-1.209884,Female,-1.729898,-0.098380,1,0,0,1,0,16.558426,...,1,0.832092,1.147738,False,False,False,False,True,False,1
8760,-0.315695,Male,-0.122154,1.458815,0,1,1,1,1,3.148438,...,0,0.983903,-0.692035,False,False,False,False,False,True,0
8761,-0.833383,Male,-1.012597,-0.730990,1,0,1,0,0,3.789950,...,2,-0.610117,-1.237152,False,False,False,False,False,True,0
8762,-1.351072,Female,1.188775,-0.001055,1,1,0,0,1,18.081748,...,1,0.110987,-1.237152,False,False,False,True,False,False,1